      <!-- FOOTER 
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p></p>
      </footer>-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster 
    <script src="{{ site.ASSET_PATH }}/js/jquery-1.11.0.min.js"></script>
    <script src="{{ site.ASSET_PATH }}/js/bootstrap.min.js"></script>-->
   <!-- <script src="{{ site.ASSET_PATH }}/js/holder.js"></script> -->
  </body>
</html>