<!-- apparently unused? -->

    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Poetry and Prayer: Islamic Manuscripts from the Walters</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/poetry">Poetry</a></li>
                <li><a href="#contact">Ritual Prayer</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Digitized Books <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">W.552: Qur’an</a></li>
                    <li><a href="#">W.568: Qur’an</a></li>
                    <li><a href="#">W.561: Qur’an</a></li>
                    <li><a href="#">W.562: Qur’an</a></li>
                    <li><a href="#">W.567: Qur’an</a></li>
                    <li><a href="#">W.578: Litany of the Sea</a></li>
                    <li><a href="#">W.579: Prayer Book</a></li>
                    <li><a href="#">W.581: Amplified Poem in Honor of the Prophet Muhammad </a></li>
                    <li><a href="#">W.582: Poem in Honor of the Prophet Muhammad</a></li>
                    <li><a href="#">W.583: Collection of Prayers for the Prophet Muhammad</a></li>
                    <li><a href="#">W.596: Memoirs of Babur</a></li>
                    <li><a href="#">W.615: One Hundred Sayings</a></li>
                    <li><a href="#">W.627: Mihr and Mushtari</a></li>
                    <li><a href="#">W.641: Selection of Poems</a></li>
                    <li><a href="#">W.644: Yusuf and Zulaykha</a></li>
                    <li><a href="#">W.649: Burning and Melting</a></li>
                    <li><a href="#">W.658: Book on Navigation</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
