    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Poetry and Prayer</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/poetry/">Poetry</a></li>
                <li><a href="/prayer/index.html">Ritual Prayer</a></li>
                <li><a href="/recitation/index.html">Recitation</a></li>
                <li><a href="/calligraphy/index.html">Calligraphy</a></li>
                <li><a href="/piety/index.html">Personal Piety</a></li>
                <li class="dropdown">
                  <a href="/books/index.html" class="dropdown-toggle" data-toggle="dropdown">Digitized Books <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/books/w552/">W.552: Qur’an</a></li>
                    <li><a href="/books/w658/">W.568: Qur’an</a></li>
                    <li><a href="/books/w561/">W.561: Qur’an</a></li>
                    <li><a href="/books/w562/">W.562: Qur’an</a></li>
                    <li><a href="/books/w567/">W.567: Qur’an</a></li>
                    <li><a href="/books/w578/">W.578: Litany of the Sea</a></li>
                    <li><a href="/books/w579/">W.579: Prayer Book</a></li>
                    <li><a href="/books/w581/">W.581: Amplified Poem in Honor of the Prophet Muhammad </a></li>
                    <li><a href="/books/w582/">W.582: Poem in Honor of the Prophet Muhammad</a></li>
                    <li><a href="/books/w583/">W.583: Collection of Prayers for the Prophet Muhammad</a></li>
                    <li><a href="/books/w596/">W.596: Memoirs of Babur</a></li>
                    <li><a href="/books/w615/">W.615: One Hundred Sayings</a></li>
                    <li><a href="/books/w627/">W.627: Mihr and Mushtari</a></li>
                    <li><a href="/books/w641/">W.641: Selection of Poems</a></li>
                    <li><a href="/books/w644/">W.644: Yusuf and Zulaykha</a></li>
                    <li><a href="/books/w649/">W.649: Burning and Melting</a></li>
                    <li><a href="/books/w658/">W.658: Book on Navigation</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
